<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>Breve.me Smallest Chat App</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<link rel="icon" type="image/png" href="/breve/static/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/breve/static/images/favicon-16x16.png" sizes="16x16">
<!-- <link rel="import" href="/breve/bower_components/polymer/polymer.html"> -->
<!-- <link rel="import" href="/breve/elements/chat-app.html"> -->
<!-- <link rel="import" href="/breve/elements/login-view.html"> -->
<link rel="stylesheet" type="text/css" href="/breve/static/jquery-easy-loading/dist/jquery.loading.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/breve/bower_components/Waves/dist/waves.min.css" />
<link rel="stylesheet" type="text/css" href="/breve/static/polymerform/build/jquery.polymer-form.min.css" />
<link rel="stylesheet" type="text/css" href="/breve/static/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<!-- materializecss.com -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<script>

var rooms = {};
var loggedInUser = "default";
var friends = [];

$(function () {
	$('.tooltipped').tooltip();
	$('.sidenav').sidenav();
	$( ".target" ).change(function() {
        if( $(this).is(":checked") ){ // check if the radio is checked
            var val = $(this).val(); // retrieve the value
			$('#offline').val(val); // set hidden field
			//set offline setting
			var userSetting = {user:$('#user').val(), name:'offline', value:val};
			rooms[loggedInUser].emit('user setting', userSetting, function(){
			});
        }
	});

	function scrollMessage(){
		$('#messagewindow').animate({scrollTop: $('#messagewindow')[0].scrollHeight}, 2000);
	}

	function waitStart(){
		//$("#wait").css("display", "block");
		$(".progress").css("display", "block");
	}
	
	function waitEnd(){
		//$("#wait").css("display", "none");
		$(".progress").css("display", "none");
	}

	var socket = io();
	//check for user from session
	rooms[loggedInUser] = socket;
	
	//check for friends from session
	friends = [{user:"user1@gmail.com"},{user:"user2@gmail.com"}];
	
	//get the logged in username
	rooms[loggedInUser].emit('username', "", function(){
	});
	

	
	$('#sendmessage').submit(function(e){
		e.preventDefault();
		if($('#m').val().trim().length > 0){
			//rooms[loggedInUser].emit('chat message', $('#m').val(), function(){
			var msg = {user:$('#user').val(), msg:$('#m').val(), offline:$('#offline').val()};
			rooms[loggedInUser].emit('chat message', msg, function(){
				var i = 0;
			});
		}
		$('#m').val('');
		$('#m').focus();
		scrollMessage();
		//return false;
	});
	
	function addUser(username)
	{
		socket.emit('add user', username, function(data){
			var result = data;
			if(result == true){
				//hide the username
				$('#username-view').hide();
			}
			else{
				$('#username-error').append("This username is already on the server!");
			}
		});
	}
	
	function displayMessage(msg)	{
		//$('#messages').append($('<p>').text(msg.user + ": " + msg.message));
		$('#messagewindow').append('<p>' + msg.user + ": " + msg.message + '</p>');
	}
	
	function clearMessages(){
		$('#messagewindow').empty();
	}
	
	$('#setusername').submit(function(e){
		e.preventDefault();
		$('#username-error').empty();
		//add a friend, ensure no duplicates
		var username = $('#username').val();
		var found = false;
		if(username.length > 0){
			for(var i = 0; i < friends.length; i++)
			{
				if(friends[i]["user"] == username)
				{
					found = true;
					break;
				}
			}
			if(!found){
				$('#username-error').append("Congrats, you have added " + username + ".");
				friends.push({user: username});
				//add user to the server
				addUser(username);
				$('#username').val('');
			}
			else{
				$('#username-error').append("This is already a friend!");
			}
		}
	});
	
	//listen for events from the server
	socket.on('usernames', function(data){
		//a list of remaining room users after a disconnect event fires
		$('#room-members').empty();
		for(var i = 0; i < data.length; i++)
		{
			$('#room-members').append($('<li>').text(data[i]));
		}
	});
	
	socket.on('username', function(data){
		//current logged in user
		$('#user').val(data.user);
	});
	
	socket.on('chat message', function(msg){
		displayMessage(msg);
		scrollMessage();
		//$('#messages').append($('<li>').text(msg.user + ": " + msg.message));
	});
	
	socket.on('load message', function(docs){
		waitStart();
		clearMessages();
		for(i = 0; i < docs.length; i++)
		{
			displayMessage(docs[i]);
		}
		waitEnd();
		scrollMessage();
	});
	
	socket.on('redirect', function(redirectLocation){
		window.location.href = redirectLocation;
	});
	
});

</script>


</head>

<!-- <body onLoad="onLoad()" fullbleed unresolved vertical layout> -->
<body fullbleed unresolved vertical layout">

<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center"><img src="breve/static/images/breve-logo.svg" alt="Breve Chat App"></a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="./breve/remotehost"><i class="material-icons left">contacts</i></a></li>
			<li><a href="./breve/logout"><i class="material-icons left">exit_to_app</i></a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="./breve/remotehost"><i class="material-icons left">contacts</i></a></li>
	<li><a href="./breve/logout"><i class="material-icons left">exit_to_app</i></a></li>
</ul>

<div id="room-member-view">
	<!-- <p>Room Members:</p> -->
	<ul id="room-members"></ul>
</div>

<div class="container body-content">
    <section class="content-wrapper main-content clear-fix">
	<div class="row">
		<div class="col-md-12">
			<div id="chatwindow">
				<!-- <div id="wait" class="loading-overlay-content loading-overlay"><br>Loading Messages..</div> -->
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
				<div id="messagewindow">
				</div>
				<div id="inputcontainer">
					<p>
						<form id="sendmessage" action=""><input id="m" type="text" autocomplete="off" />
							<input type="hidden" id="user" name="username" value="">
							<input type="hidden" id="offline" name="offlinesetting" value="sms">
							<button class="btn waves-effect waves-light" type="submit" name="action">Send<i class="material-icons right">send</i></button>
							<!-- <button class="wavesbutton">Send</button> -->
							<br>
							<br>
							<p>
								<label>
								<input class="target" name="offline" value="sms" type="radio" checked />
								<span class="tooltipped" data-position="right" data-tooltip="Send an SMS Text if recipient is offline">Text</span>
								</label>
							</p>
							<p>
								<label>
								<input class="target" name="offline" value="voice" type="radio" />
								<span class="tooltipped" data-position="right" data-tooltip="Phone if recipient is offline">Voice</span>
								</label>
							</p>
						</form>
					</p>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
<!-- <login-view></login-view> -->
<!-- <chat-app></chat-app> -->
<h1></h1>

<script type="text/javascript" src="/breve/bower_components/Waves/dist/waves.min.js"></script>
<script type="text/javascript" src="/breve/static/polymerform/build/jquery.polymer-form.min.js"></script>
<script type="text/javascript">
//init the wave button
Waves.attach('.wavesbutton', ['waves-button', 'waves-float']);
Waves.init();
//init the polymerForm
$(document).ready(function(){
	$(".polymerform").polymerForm();
});
</script>

</body>

</html>