<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>Breve.me Smallest Chat App</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<!-- <script src="/breve/bower_components/webcomponentsjs/webcomponents-hi.js"></script> -->
<link rel="import" href="/breve/bower_components/polymer/polymer.html">
<link rel="import" href="/breve/elements/login-view.html">
</head>

<body onLoad="onLoad()" fullbleed unresolved vertical layout>
<h1>Login</h1>
<login-view></login-view>
<h1>footer</h1>
</body>

</html>