<div class="container body-content">
    <section class="content-wrapper main-content clear-fix">
	<div class="row">
		<div class="col-md-12">
			<h1>Registration Successful. Great Work!</h1>
		</div>
		<div class="col-md-12">
			<div class="col-sm-12">You have created your Breve account.</div>
			<div class="col-sm-12">Login using your email: {{ email }} and password.</div>
		</div>
		<div class="col-md-12">
			<h1><a href="./login">Login</a> To Start Chatting!</h1>
		</div>
	</div>
	</section>
</div>