<div class="container body-content">
    <section class="content-wrapper main-content clear-fix">
	<div class="row">
		<div class="col-md-12">
			<h1>Subscription Successful. Great Work!</h1>
		</div>
	</div>
	</section>
</div>